In [1]:
import pandas as pd
import numpy as np
import random
import os
import plotly.express as px

In [2]:
files = os.listdir("datasets")
df = pd.DataFrame()
p = 0.50

for file in files:
    df = df.append(pd.read_csv(f"datasets/{file}", skiprows=lambda i: i>0 and random.random() > p), ignore_index=True)
    
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
1,737,2019-01-01 12:56:53.2040,2019-01-01 13:09:11.0400,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,29447,Subscriber,1993,1
2,917,2019-01-01 13:03:44.7760,2019-01-01 13:19:02.7690,3183,Exchange Place,40.716247,-74.033459,3277,Communipaw & Berry Lane,40.714358,-74.066611,29299,Subscriber,1986,1
3,3248,2019-01-01 13:12:03.1280,2019-01-01 14:06:12.0400,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,29495,Subscriber,1992,1
4,3168,2019-01-01 13:13:12.0450,2019-01-01 14:06:00.4110,3183,Exchange Place,40.716247,-74.033459,3196,Riverview Park,40.744319,-74.043991,26312,Customer,1969,0

In [3]:
df.to_csv("citibike_compiled_data.csv", index=False)

In [4]:
df.shape

(354305, 15)

In [5]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
354300,131,2020-10-31 23:24:41.8040,2020-10-31 23:26:53.2340,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,46532,Subscriber,1981,1
354301,338,2020-10-31 23:29:49.3050,2020-10-31 23:35:27.8680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,26139,Subscriber,1999,1
354302,1054,2020-10-31 23:32:22.8650,2020-10-31 23:49:57.5320,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0
354303,156,2020-10-31 23:33:22.7310,2020-10-31 23:35:59.4930,3185,City Hall,40.717733,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1
354304,395,2020-10-31 23:40:06.3530,2020-10-31 23:46:42.0640,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1

In [7]:
files

['JC-201901-citibike-tripdata.csv',
 'JC-201902-citibike-tripdata.csv',
 'JC-201903-citibike-tripdata.csv',
 'JC-201904-citibike-tripdata.csv',
 'JC-201905-citibike-tripdata.csv',
 'JC-201906-citibike-tripdata.csv',
 'JC-201907-citibike-tripdata.csv',
 'JC-201908-citibike-tripdata.csv',
 'JC-201909-citibike-tripdata.csv',
 'JC-201910-citibike-tripdata.csv',
 'JC-201911-citibike-tripdata.csv',
 'JC-201912-citibike-tripdata.csv',
 'JC-202001-citibike-tripdata.csv',
 'JC-202002-citibike-tripdata.csv',
 'JC-202003-citibike-tripdata.csv',
 'JC-202004-citibike-tripdata.csv',
 'JC-202005-citibike-tripdata.csv',
 'JC-202006-citibike-tripdata.csv',
 'JC-202007-citibike-tripdata.csv',
 'JC-202008-citibike-tripdata.csv',
 'JC-202009-citibike-tripdata.csv',
 'JC-202010-citibike-tripdata.csv']